.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: #F7F7F8;
  border-radius: 60px;
  padding: 20px;
}

.list-name {
    color: #800080;
    text-align: center;
}

.separator {
    width: 35%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.separator .line {
    width: 43%;
    height: 4px;
    background-color: #E0CFFC;
    border-radius: 10px;
}

.separator .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #E0CFFC;
}

.row-item {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-number {
    background-color: #E0CFFC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 10px;
    color: #3B1109
}

.item-title {
    color: #3B1109;
    text-align: center;
    text-wrap: wrap;
}

.item-image {
    background-color: #E0CFFC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
}