.navigation-bar {
    width: 100%;
    height: 7%;
    background-color: #FF6B6B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.logo-container{

}

.navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navigation-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px 10px;
    transition: 300ms;
    min-width: 90px;
}

.navigation-element.underline {
    border-bottom: 2px solid turquoise;
    transition: 300ms;
}

.search-lists {
    
}

.profile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: #FCA5A5;
    border-radius: 20px;
}