.navigation-bar {
    width: 100%;
    height: 10%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: 300ms;
    min-width: 50px;
}

.navigation-element.underline {
    border-bottom: 1px solid red;
    transition: 300ms;
}