.navigation-bar {
    width: 100%;
    height: 9%;
    background-color: #FF6B6B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2D2D2D;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.navigation-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    margin: 10px 10px;
    transition: 300ms;
    min-width: 90px;
    font-size: 12px;
}

.navigation-element:hover {
    cursor: pointer;
}

.navigation-element h2 {
    margin-left: 5px;
}

.navigation-element.underline {
    border-bottom: 2px solid turquoise;
    transition: 300ms;
}

.search-lists {
    height: 100%;
    background-color: white;
    border-radius: 25px;
    outline: none;
    border: none;
    width: 250px;
    color: #2D2D2D;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    position: relative;
}

.search-lists-icon {
    position: absolute;
    right: 10px;
    color: #FF6B6B;
}

.search-lists::placeholder {
    color: #FF6B6B;
}

.profile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    background-color: #FCA5A5;
    border-radius: 25px;
    min-width: 100px;
    margin-right: 25px;
    padding: 0px 10px 0px 10px;
}

.notifications-button:hover {
    cursor: pointer;
}

.shared-button:hover {
    cursor: pointer;
}

.profile-button:hover {
    cursor: pointer;
}