.friends-lists-container {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 25px;
    flex-direction: column;
}

.friends-lists-top-bar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends-lists-header {
    font-size: 40px;
    color: #2D2D2D;
}

.lists {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}