.my-lists-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 100%;
    height: 100%;
}

.my-lists-top-bar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}