.my-lists-container {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.my-lists-top-bar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-lists-header {
    font-size: 40px;
    color: #2D2D2D;
}