.bottom-bar 
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    background-color: #F9F9F9;
    color: #3C3C3C;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) 
{
    .bottom-bar 
    {
        font-size: 1.2vh;
    }
}