body.main-page
{
    background-color: #ffffff !important;
}

body.dark-mode:not(.main-page)
{
    background-color: #3C3C3C !important;
    color: #888;
}

body.dark-mode .top-icon-bar, 
body.dark-mode .bottom-bar, 
body.dark-mode .account-dropdown-menu,
body.dark-mode .display-dropdown-menu,
body.dark-mode .shared-dropdown-menu,
body.dark-mode .notifications-dropdown-menu
{
    background-color: #2C2C2C;
}

body.dark-mode .bottom-bar 
{
    color: #888;
}

body.dark-mode .search-bar 
{
    background-color: #3C3C3C;
}

body.dark-mode .search-input,
body.dark-mode .account-dropdown-menu button:not(.logout-button)
{
    color: #888;
}

body.dark-mode .search-icon img 
{
    filter: brightness(40%);
}

body.dark-mode .icon-link .tooltip,
body.dark-mode .user-icon .tooltip,
body.dark-mode .notification-icon .tooltip,
body.dark-mode .shared-icon .tooltip
{
    background-color: #2C2C2C;
}

body.dark-mode .account-dropdown-menu button:hover:not(.display-button)
{
    background-color: #777777;
}

body.dark-mode .display-button:hover
{
    background-color: #777777;
}