body.main-page
{
    background-color: #ffffff !important;
}

body.dark-mode:not(.main-page)
{
    background-color: #3C3C3C !important;
    color: #888;
}

body.dark-mode .top-icon-bar, 
body.dark-mode .bottom-bar, 
body.dark-mode .account-dropdown-menu,
body.dark-mode .display-dropdown-menu,
body.dark-mode .shared-dropdown-menu,
body.dark-mode .notifications-dropdown-menu
{
    background-color: #2C2C2C;
}

body.dark-mode .bottom-bar 
{
    color: #888;
}

body.dark-mode .search-bar 
{
    background-color: #3C3C3C;
}

body.dark-mode .search-input,
body.dark-mode .account-dropdown-menu button:not(.logout-button),
body.dark-mode .dark-mode-label
{
    color: #888;
}

body.dark-mode .search-icon img 
{
    filter: brightness(40%);
}

body.dark-mode .icon-link .tooltip,
body.dark-mode .user-icon .tooltip,
body.dark-mode .notification-icon .tooltip,
body.dark-mode .shared-icon .tooltip
{
    background-color: #2C2C2C;
}

body.dark-mode .account-dropdown-menu button:hover:not(.display-button)
{
    background-color: #777777;
}

body.dark-mode .display-button:hover
{
    background-color: #777777;
}

body.dark-mode .settings-container
{
    background-color: #c4c4c4;
}

body.dark-mode .change-icon-button
{
    background-color: #2C2C2C;
}

body.dark-mode .change-icon-button:hover
{
    background-color: #414141;
}

body.dark-mode .account-username 
{
    color:#bbbbbb
}

body.dark-mode .account-dropdown-menu img:not(.chevron-icon, .account-profile-picture),
body.dark-mode .shared-dropdown-menu img,
body.dark-mode .notifications-dropdown-menu img
{
    background-color: #3b3d3d;
}

body.dark-mode .user-icon, 
body.dark-mode .notification-icon, 
body.dark-mode .shared-icon
{
    background-color: #3b3d3d;
}

body.dark-mode .account-header:hover 
{
    background-color: rgba(255, 255, 255, 0.1);
}

body.dark-mode .list-container
{
    color: #e2e5e9;
}