body.dark-mode 
{
    background-color: #3C3C3C !important;
}

body.dark-mode .top-icon-bar, 
body.dark-mode .bottom-bar, 
body.dark-mode .dropdown-menu,
body.dark-mode .display-dropdown 
{
    background-color: #2C2C2C !important;
}

body.dark-mode .bottom-bar 
{
    color: #888;
}

body.dark-mode .search-bar 
{
    background-color: #3C3C3C !important;
}

body.dark-mode .search-input 
{
    color: #888;
}

body.dark-mode .search-icon img 
{
    filter: brightness(40%);
}
