body 
{
    margin: 0;
    font-family: 'Open Sans';
    background-color: #CAEFD1;
    z-index: 20;
}

/* Center the image container within its parent */
.image-result-container {
    width: 400px; /* Circle diameter */
    height: 400px; /* Match width for a perfect circle */
    border-radius: 50%; /* Makes the container a circle */
    overflow: hidden; /* Ensures any overflow is cropped */
    display: flex; /* Enable flexbox for centering */
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
    border: 2px solid #ccc; /* Optional: Add a border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    margin: 20px auto; /* Horizontally center the container itself */
}

/* Style for the image inside the circular container */
.result-image {
    width: 100%; /* Fill the container */
    height: 100%; /* Ensure it fills the height too */
    object-fit: cover; /* Crop the image to fit the container */
}

#image-search-section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content {
    overflow-y: hidden;
}

#feed-section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-container {
    width: 20vw;
    border-radius: 50px;
    padding: 25px;
    margin-bottom: 50px;
    position: relative;
}

.list-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.item-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.item-num {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.item-name {
    display: flex;
}

.item-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.end-message {
    margin-bottom: 50px;
}

.share-list-menu {
    position: absolute;
    top: 5.5vh; /* Appears below the button */
    left: -15.4vh;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
    z-index: 20;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.shared-icon-list-container {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50px;
    right: 30px;
}

.shared-icon-list-container:hover {
    cursor: pointer;
}


.shared-icon-list-img {
    height: 20px;
    width: 20px;
}

.friend-share-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
