#friends-list {
    max-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.friend-item {
    width: 500px;
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.user-info {
    flex-grow: 1;
}
.username {
    font-weight: bold;
}
.account-age, .friends-count {
    font-size: 0.9em;
    color: gray;
}
.add-friend-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.accept-friend-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.decline-friend-btn {
    background-color: #c92929;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.add-friend-btn:hover {
    background-color: #45a049;
}

.accept-friend-btn:hover {
    background-color: #45a049;
}

.decline-friend-btn:hover {
    background-color: #ac4242;
}