/* Default body styling for all pages */
html, body 
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff !important;
    background-image: none !important;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}


/* Background image and styles for the main page only */
body.main-page 
{
    background-image: url('../images/Index Background.png') !important;
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent !important;
}

body:not(.main-page) 
{
    background-image: none !important;
    background-color: #ffffff !important;
}

body.main-page::before 
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.6);
    z-index: -1;
    pointer-events: none;
}

body.main-page #content 
{
    position: relative;
    z-index: 2;
    text-align: center;
}
