body.main-page
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('../images/background.png');
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.main-page::before 
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
    pointer-events: none;
}

body.main-page #content 
{
    position: relative;
    z-index: 2;
    text-align: center;
}