.settings-container
{
    background-color: #f1f1f1; /* Light gray background */
    border-radius: 12px; /* Rounded corners */
    padding: 16px; /* Add padding inside the box */
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: fit-content; /* Adjust to fit the content */
    margin: 16px auto; /* Center align and add spacing */
}

.profile-picture-container 
{
    text-align: center;
}

.profile-picture 
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4CB95F;
    display: block;
    margin: 0 auto 10px;
}

.change-icon-button 
{
    background-color: #4CB95F;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-icon-button:hover 
{
    background-color: #42a954;
}

#format-text, #file-size-text
{
    font-style: italic;
    margin: 1vh;
}

