body 
{
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.top-icon-bar 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    padding: 10px 0;
    position: fixed;
    top: 0;
    height: 5vh; /* Width of top icon bar */
    width: 100%;
    z-index: 1000;
    gap: 3vh; /* Space between icons */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.logo-link 
{
    text-decoration: none;
    position: absolute;
    left: 1vh;
}

.logo-icon
{
    height: 5vh;
    width: auto;
    display: block;
}

.icon-link 
{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    transition: transform 0.2s ease;
}

/* Tooltip flavor text */
.icon-link .tooltip
{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3C3C3C;
    color: white;
    font-size: 1.5vh;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    transition-delay: 0.2s;
}

.user-icon .tooltip,
.notification-icon .tooltip,
.shared-icon .tooltip
{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3C3C3C;
    color: white;
    font-size: 1.5vh;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    transition-delay: 0.2s;
}


/* Show tooltip on hover */
.icon-link:hover .tooltip,
.user-icon:hover .tooltip,
.notification-icon:hover .tooltip,
.shared-icon:hover .tooltip
{
    opacity: 1;
    visibility: visible;
    z-index: 2000;
}

/* Draw line when hovering over icon */
.icon-link::after
{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #4CB95F;
    transition: width 0.2s ease;
}

.icon-link:hover::after 
{
    width: 100%;
}

/* Enlarge icon when hovered over */
.icon-link:hover
{
    transform: scale(1.1);
}

.icon 
{
    width: auto;
    height: 5vh;
    display: block;
    margin: 0;
    padding: 0;
}

.user-actions
{
    position: absolute;
    right: 3vh;
    gap: 2vh;
    align-items: center;
    height: 100%
}

.notification-icon, .shared-icon
{
    position: relative;
    max-width: 3vh;
    height: 3vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    background-color: #888888;
    border-radius: 50%;
    padding: 5px;
}

.notification-icon img, .shared-icon img 
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.user-icon {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.user-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: none;
}

.user-icon:hover img,
.notification-icon:hover img,
.shared-icon:hover img
{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.user-icon:hover, .notification-icon:hover, .shared-icon:hover 
{
    transform: none;
}

.auth-link#login:hover
{
    background-color: #42a954;
}
.auth-divider
{
    user-select: none;
    pointer-events: none;
    color:#4CB95F;
    font-size: 2vh;
}

.icon-link.disabled 
{
    pointer-events: none;
    opacity: 0;
    cursor: not-allowed;
}

.icon-link.icon-link.active::before
{
    pointer-events: auto;
    opacity: 1;
}

/* Highlight the active icon link with an arrow */
.icon-link.active::before {
    content: '';
    position: absolute;
    top: -10px; /* Adjust the arrow's position */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #000; /* Black arrow */
    z-index: 2; /* Ensure it is above other elements */
    pointer-events: none; /* Prevent blocking interactions */
}

/* Highlights active icon */
.icon-link
{
    position: relative;
    transform-origin: center;
}

/* Only scale icon when hovered, not selection arrow */
.icon-link:hover .icon 
{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.icon-link:hover 
{
    transform: none;
}

/*Search Bar*/
.search-bar 
{
    display: flex;
    align-items: center;
    background-color: #E9E9E9;
    border-radius: 20px;
    padding: 5px 15px;
    width: 180px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: calc(3vh + 5vh);
}

.search-icon 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.search-icon img{
    width: 3vh;
    height: auto;
    opacity: .5;
}

.search-input 
{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #3C3C3C;
    width: 100%;
}

.search-input::placeholder 
{
    color: #888;
}

.icon-link.disabled .tooltip 
{
    display: none;
}

/* Account Dropdown Menu */
.account-dropdown-menu 
{
    position: absolute;
    top: 55px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: none;
    z-index: 1000;
    flex-direction: column;
    padding: 10px;
}

.account-dropdown-menu.visible 
{
    display: flex;
}

.account-dropdown-menu button:not(.display-button)
{
    background: none;
    border: none;
    text-align: left;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease, border 0.2s ease;
    border-radius: 10px;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}

.account-dropdown-icon 
{
    width: 4vh;
    max-width: 20px;
    height: auto;
    left: 20px;
}


.account-dropdown-menu button:hover:not(.display-button)
{
    background-color: #f0f0f0; /* Subtle background change on hover */
    border: 2px solid transparent;
}

.logout-button 
{
    color: #d9534f;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: background-color 0.2s ease, border 0.2s ease;
    font-weight: bold;
}

.logout-button:hover 
{
    background-color: #ffecec;
    border-radius: 10px;
}

.display-button 
{
    background: none;
    border: none;
    text-align: left;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease, border 0.2s ease;
    border-radius: 10px;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.display-button .content 
{
    margin-left: -40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.display-button:hover
{
    background-color: #f0f0f0;
    border: 2px solid transparent;
}

.chevron-icon 
{
    width: 10vh;
    max-width: 20px;
    height: auto;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

.account-dropdown-icon 
{
    width: 18px;
    height: auto;
}

.display-dropdown-menu
{
    font-size: 14px;
    font-weight: bold;
    display: none;
    position: absolute;
    right: 101%;
    top: 58.5%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100px;
    align-items: center;
}

.display-dropdown-menu label 
{
    display: block;
    padding: 5px 0px;
    font-size: 14px;
    cursor: pointer;
}

.display-dropdown-divider {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}

.dark-mode-icon 
{
    margin-left: -5px;
    margin-bottom: -7px;
    width: 3vh;
    max-width: 12px;
    height: auto;
    transition: transform 0.2s ease;
}

.account-dropdown-menu, .account-dropdown-menu *
{
    transform: none !important;
}

/* Shared dropdown container */
.shared-container 
{
    position: relative;
}

/* Shared dropdown menu (hidden by default) */
.shared-dropdown-menu 
{
    display: none;
    position: absolute;
    top: 143%; /* Appears below the button */
    left: -126px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    z-index: 10;
}

/* Show the dropdown menu when visible */
.shared-dropdown-menu.visible 
{
    display: block;
}

/* Header for the shared dropdown */
.shared-dropdown-header 
{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
}

/* Divider styling */
.shared-dropdown-divider 
{
    border: none;
    border-top: 1px solid #ddd;
    margin: 8px 0;
}

/* Message styling */
.shared-dropdown-message 
{
    color: #666;
    text-align: center;
    font-size: 14px;
}

/* Notifications dropdown container */
.notifications-container 
{
    position: relative;
}

/* Notifications dropdown menu (hidden by default) */
.notifications-dropdown-menu 
{
    display: none;
    position: absolute;
    top: 143%; /* Appears below the button */
    left: -68px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    z-index: 10;
}

/* Show the dropdown menu when visible */
.notifications-dropdown-menu.visible 
{
    display: block;
}

/* Header for the shared dropdown */
.notifications-dropdown-header 
{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
}

/* Divider styling */
.notifications-dropdown-divider 
{
    border: none;
    border-top: 1px solid #ddd;
    margin: 8px 0;
}

/* Message styling */
.notifications-dropdown-message 
{
    color: #666;
    text-align: center;
    font-size: 14px;
}

.account-dropdown-menu img:not(.chevron-icon, .account-profile-picture),
.shared-dropdown-menu img,
.notifications-dropdown-menu img
{
    border-radius: 100%; /* Make the background circular */
    background-color: #888888; /* Choose a background color */
    padding: 5px; /* Add padding to extend the background */
    width: 200px;
    height: auto;
    transition: background-color 0.2s ease, transform 0.2s ease;
    object-fit: contain;
    box-sizing: content-box;
}

.account-header 
{
    display: flex;
    align-items: center;
    padding: 15px;
}

.account-profile-picture 
{
    max-height: 4vh;
    max-width: auto;
    margin-right: 10px;
}

.account-username 
{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.dropdown-divider {
    margin: 10px 0;
    border: 0;
    height: 1px;
    background-color: #e5e5e5;
}
