body 
{
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.top-icon-bar 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    padding: 10px 0;
    position: fixed;
    top: 0;
    height: 5vh; /* Width of top icon bar */
    width: 100%;
    z-index: 1000;
    gap: 3vh; /* Space between icons */
}

.logo-link 
{
    text-decoration: none;
    position: absolute;
    left: 1vh;
}

.logo-icon
{
    height: 5vh;
    width: auto;
    display: block;
}

.icon-link 
{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    transition: transform 0.2s ease;
}

/* Draw line when hovering over icon */
.icon-link::after
{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #4CB95F;
    transition: width 0.2s ease;
}

.icon-link:hover::after 
{
    width: 100%;
}

/* Enlarge icon when hovered over */
.icon-link:hover 
{
    transform: scale(1.1);
}

.icon 
{
    width: auto;
    height: 5vh;
    display: block;
    margin: 0;
    padding: 0;
}