body 
{
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.top-icon-bar 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    padding: 10px 0;
    position: fixed;
    top: 0;
    height: 5vh; /* Width of top icon bar */
    width: 100%;
    z-index: 1000;
    gap: 3vh; /* Space between icons */
}

.logo-link 
{
    text-decoration: none;
    position: absolute;
    left: 1vh;
}

.logo-icon
{
    height: 5vh;
    width: auto;
    display: block;
}

.icon-link 
{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    transition: transform 0.2s ease;
}

/* Tooltip Flavor Text */
.icon-link .tooltip
{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3C3C3C;
    color: white;
    font-size: 1.5vh;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    transition-delay: 0.2s;
}


/* Show tooltip on hover */
.icon-link:hover .tooltip 
{
    opacity: 1;
    visibility: visible;
}

/* Draw line when hovering over icon */
.icon-link::after
{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #4CB95F;
    transition: width 0.2s ease;
}

.icon-link:hover::after 
{
    width: 100%;
}

/* Enlarge icon when hovered over */
.icon-link:hover 
{
    transform: scale(1.1);
}

.icon 
{
    width: auto;
    height: 5vh;
    display: block;
    margin: 0;
    padding: 0;
}

.auth-links
{
    position: absolute;
    display: flex;
    gap: 2vh;
    align-items: center;
    right: 3vh;
}

.auth-link
{
    text-decoration: none;
    color: #3C3C3C;
    font-size: 1.5vh;
    font-weight: bold;
    transition: color 0.2s ease;
}

.auth-link:hover
{
    color: #4CB95F;
}

.auth-divider
{
    user-select: none;
    pointer-events: none;
    color:#4CB95F;
    font-size: 2vh;
}